[Unit]
Description=Nano Banana Admin Panel
After=network.target

[Service]
Type=simple
User=Dianka
WorkingDirectory=/home/Dianka/Nano-Banana-Pro
Environment="ADMIN_LOGIN=admin"
Environment="ADMIN_PASSWORD=dianka12345"
Environment="ADMIN_SECRET_KEY=47bbb41508ae0ce2729bc71c59f0c92ad1511db5c2408fcf769df93956c34bdc"
ExecStart=/home/Dianka/Nano-Banana-Pro/venv/bin/python run_admin.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
